In [ ]:
#python version (question:2)
import sys
print (sys.version)

In [ ]:
#area of circle (question:4)
from math import pi
radius= float(input("enter radius of circle:"))
area= (pi*(radius**2))
print ("Area of circle is:"+ str(area))

In [19]:
#question 5
user_name= (input("enter first and last name:"))
a= user_name[::-1];
#print("reverse of your name is"{a})                     
print("reverse of name is",(a))

enter first and last name:hello
reverse of name is olleh

In [9]:
#q7
english = float(input("Please enter English Marks: "))
math = float(input("Please enter Math score: "))
computers = float(input("Please enter Computer Marks: "))
physics = float(input("Please enter Physics Marks: "))
chemistry = float(input("Please enter Chemistry Marks: "))

total = english + math + computers + physics + chemistry
print("total is", total)
if total>=90:
    print ("GRADE A+")
elif (total <= 80):
    print("GRADE A")
elif(total<= 70):
    print("grade b")
else:
    print ("grade c")

Please enter English Marks: 10
Please enter Math score: 20
Please enter Computer Marks: 30
Please enter Physics Marks: 40
Please enter Chemistry Marks: 50
total is 150.0
GRADE A+

In [19]:
#Q6
num1= input('enter num1:')
num2= input("enter num2:")
sum= float(num1)+float(num2)
print ("sum is ", sum)

enter num1:9
enter num2:5
sum is  14.0

In [11]:
#Q8
num=int(input("enter number:"))
x= (num%2);
if (x==0): #if remainder= 0 number will be even otherwise odd
    print ("num is even")
else:
    print("num is odd")

enter number:246
num is even

In [49]:
#QUESTION 9

ListName = ["Hello", "Aiman", 1, 2, 3]
print ("length of list is  = ", len(ListName))

length of list is  =  5

In [10]:
#QUESTION 11

list=(5,4,7,1,2)
print ("largest number from list is:", max(list))

largest number from list is: 7

In [53]:
#question 12
a=[1,1,2,3,5,8,13,21,34,55,89]
for i in a:
    if i < 5:
        print(i)

1
1
2
3

In [13]:
#QUESTION 3 (current date and time)
from datetime import datetime
now= datetime.now()
print(now)

2021-10-24 04:58:50.174250

In [14]:
#QUESTION 1
print("Twinkle, twinkle, little star,")
print("         How I wonder what you are!")
print("                 up above the world so high,")
print("                  Like a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("          How I wonder what you are!")

Twinkle, twinkle, little star,
         How I wonder what you are!
                 up above the world so high,
                  Like a diamond in the sky.
Twinkle, twinkle, little star,
          How I wonder what you are!

In [18]:
#question 10
sum=0
a=[1,2,3,4,5]
for i in a:
 sum=sum+i
print("sum of all numeric items in list is:",sum)

sum of all numeric items in list is: 15